@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

:root {
    --bold-green: #23453ed0;
    --darkBlue: #507585;
    --green: #497375;
    --narrowblue: #3c555f;
    --orange: #ea6341;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#logo .logo-img:nth-child(1) {
    position: relative;
    padding: 30px;
    background-color: var(--narrowblue);
}

div#logo {
    margin: 0px 15px;
}

#logo .logo-img:nth-child(2) {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 25px;
    background-color: var(--darkBlue);
}

#navbar {
    max-height: 100px;
    background-color: white;
}

#img-home {
    width: 100vw;
    height: 100vh;
}

#logo-name {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #d06444;
    font-size: 2rem;
}

#logo-name span {
    color: black;
}

#navbar-layout {
    text-align: center;
    max-width: 15rem;
    padding: 6rem 1rem;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: var(--bold-green);
}

#navbar-layout h2 {
    color: white;
    font-weight: 800;
}











.card-text {
    text-align: justify;
}

.sub-block {
    text-align: center;
    padding: 10px;
}

.sub-block p {
    text-align: justify;
}

.block-1 {
    padding: 15px 45px;
    margin: 0px 30px;
}

.block-1:nth-child(1) {
    background-color: #497375;
}

.block-1:nth-child(2) {
    background-color: #d06444;
}

.block-1:nth-child(3) {
    background-color: #d3d3cf;
    text-align: center;
    margin-bottom: 4rem;
}

.block-1:nth-child(3) .sub-block a {
    text-align: center;
    text-decoration: none;
    color: #497375;
}









footer {
    position: relative;
    padding: 10px;
    background-color: #d06444;
}

#Slider {
    padding: 10px;
    position: absolute;
    top: 0px;
    animation-name: sliding;
    animation-duration: 2s;
    transition: .5s;
    animation-iteration-count: infinite;
    background-color: var(--bold-green);
}

@keyframes sliding {
    0% {
        margin: 0px 99% 0px 0px;
    }

    50% {
        margin: 0px 0px 0px 95%;
    }

    100% {
        margin: 0px 95% 0px 0px;
    }
}













@media screen and (min-width: 1700px) {
    #img-home {
        width: 100vw;
        height: 20vh;
    }
}

@media screen and (max-width: 2200px) {

    #img-home {
        height: 100vh;
    }
}

@media screen and (max-width: 1200px) {
    #navbar-layout {
        max-width: 45%;
    }

    #card {
        flex-wrap: wrap;
    }

    #navbar {
        max-height: 7rem;
    }


    #img-home {
        height: 100vh;
    }

    .block-1 {
        padding: 15px 22px;
        margin: 0px 30px;
    }
}

@media screen and (max-width: 992px) {
    #navbar-layout {
        max-width: 80%;
    }

    #card {
        flex-wrap: wrap;
    }

    #navbar {
        max-height: 9rem;
    }


    #img-home {
        height: 100vh;
    }

    .block-1 {
        padding: 15px 22px;
        margin: 0px 30px;
    }
}

@media screen and (max-width: 786px) {
    #navbar-layout {
        max-width: 100%;
    }

    #card {
        flex-wrap: wrap;
    }

    #navbar {
        max-height: 23rem;
    }


    #img-home {
        height: 100vh;
    }

    .block-1 {
        padding: 15px 22px;
        margin: 0px 30px;
    }
}

@media screen and (max-width: 576px) {
    #navbar-layout {
        max-width: 100%;
        padding: 2rem;
    }

    #card {
        flex-wrap: wrap;
    }

    #navbar {
        max-height: 15rem;

    }


    #img-home {
        height: 47vh;
    }

    .block-1 {
        padding: 15px 22px;
        margin: 0px 30px;
    }
}